---
layout: default
title: HDRMerge
---
<!-- Index content -->
<style>.showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}</style>
<div class="showcase-wrapper sticky">
    <div class="showcase-text">
        {% for post in site.posts limit: 1 %}
        <span class="badge lazy"><smaller>FRESHLY MINTED</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div id="welcome-greeting">
        <h1>Land Ahoy!</h1>
        <h2>This is <a href="https://github.com/jcelaya/hdrmerge">HDRMerge</a></h2> <hr />
    </div>
    <div class="recent-posts">
        <h1>Recent Posts</h1>
        <ul class="homepage-posts most-recent">
            {% for post in site.posts limit: 3 %}
            <li><span><h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</time></h4></span></li>
            {% endfor %}
            <a href="{{ site.baseurl }}/list.html">View More...</a>
        </ul>
    </div>
</div>
