<!-- Navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" /></a></p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.github }}/releases/latest">Downloads</a></li>
                <li><a href="{{ site.baseurl }}{% post_url 2014-05-24-what-is-hdrmerge%}">What is HDRMerge?</a></li>
                <li><a href="{{ site.baseurl }}{% post_url 2014-07-11-user-manual%}">User Manual</a></li>
                <li><a href="{{ site.baseurl }}/list.html">All articles</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" /></a><h3>{{ site.description }}</h3>
        </li>
        <hr />
        <li><a href="{{ site.github }}/releases/latest">Downloads</a></li>
        <li><a href="{{ site.baseurl }}{% post_url 2014-05-24-what-is-hdrmerge%}">What is HDRMerge?</a></li>
        <li><a href="{{ site.baseurl }}{% post_url 2014-07-11-user-manual%}">User Manual</a></li>
        <li><a href="{{ site.baseurl }}/list.html">All articles</a></li>
        <hr />
        <div id="social-wrapper">
            <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> &nbsp; Get it at Github</a> </li>
{% comment %}
            <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
            <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
            <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
{% endcomment %}
        </div>
        <li> <a href="https://flattr.com/submit/auto?user_id=jcelaya&url=http%3A%2F%2Fjcelaya.github.io%2Fhdrmerge%2F&title=HDRMerge" target="_blank">
            <img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
        </li>
        <li> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="AB3CAVRH4S24C">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit"
                alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
        </form> </li>
    </ul>
</div>
