---
layout: default
---
<div id="article">
    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}</small></p> <hr/>
    <div class="post">
        {{ content }}
    </div>

    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ page.previous.url }}">&larr; Older</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}">Newer &rarr;</a></li>
        {% endif %}
    </ul>
</div>
